<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>duziy's Bio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
        <div class="background-container">
                <video id="background-video" autoplay loop muted playsinline class="background-video">
                        <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
        </div>
        <div class="container">
                <div class="content-box">
                        <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Profile Picture"
                                class="profile-pic">
                        <h1 class="name">duziy</h1>
                        <p class="bio">Just some guy on the internet</p>

                        <!-- Social Icons -->
                        <div class="social-icons">
                                <a href="https://youtube.com/@duziy" target="_blank" class="icon-button"><i
                                                class="fab fa-youtube"></i></a>
                                <a href="https://kick.com/duziy" target="_blank" class="icon-button"><i
                                                class="fab fa-kickstarter"></i></a>
                                <a href="https://twitch.tv/realduziy" target="_blank" class="icon-button"><i
                                                class="fab fa-twitch"></i></a>
                                <a href="https://tiktok.com/@duziy" target="_blank" class="icon-button"><i
                                                class="fab fa-tiktok"></i></a>
                                <a href="https://instagram.com/realduziy/" target="_blank" class="icon-button"><i
                                                class="fab fa-instagram"></i></a>
                                <a href="https://x.com/realduziy" target="_blank" class="icon-button">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/X_logo_2023_%28white%29.png"
                                                alt="X" class="fab-icon">
                                </a>
                                <a href="https://github.com/realduziy" target="_blank" class="icon-button"><i
                                                class="fab fa-github"></i></a>
                                <a href="https://soundcloud.com/duziy" target="_blank" class="icon-button"><i
                                                class="fab fa-soundcloud"></i></a>
                                <a href="https://roblox.com/users/1306548829/profile" target="_blank"
                                        class="icon-button">
                                        <img src="https://img.icons8.com/?size=100&id=62158&format=png&color=FFFFFF"
                                                alt="Roblox" class="fab-icon">
                                </a>
                                <a href="https://reddit.com/user/_duziy_/" target="_blank" class="icon-button"><i
                                                class="fab fa-reddit"></i></a>
                                <a href="https://namemc.com/profile/duziy.1" target="_blank" class="icon-button">
                                        <img src="https://s.namemc.com/img/favicon-30.png" alt="Namemc"
                                                class="fab-icon">
                                </a>
                                <a href="https://steamcommunity.com/id/duziy" target="_blank" class="icon-button"><i
                                                class="fab fa-steam"></i></a>
                                <a href="https://t.me/duziy" target="_blank" class="icon-button"><i
                                                class="fab fa-telegram"></i></a>
                        </div>

                        <!-- Volume Control -->
                        <div class="volume-control">
                                <button id="mute-button" class="mute">🔊</button>
                                <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="0.5">
                        </div>
                </div>
        </div>

        <script src="{{ url_for('static', filename='skritps.js') }}"></script>
</body>

</html>
